body {
    height: 100dvh;
}

main {
    gap: 2em;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

main>header {
    .btn {
        padding: 0;
        border: none;
        border-radius: 0;
    }

    h1 {
        color: var(--color-gray-000);
        padding: 1rem 2rem;
        font-size: clamp(1.6rem, 5vw, 2.5rem);
        font-weight: 900;
        background-color: var(--color-gray-090);

        &:hover {
            background-color: var(--color-gray-100);
        }
    }

    p {
        font-size: clamp(.8rem, 2.5vw, 1rem);
    }
}

#settings-menu {
    padding: 0;
    text-align: left;

    header {
        padding: 2rem 1.8rem 0;

        form {
            margin-left: auto;
        }
    }

    .content {
        gap: 0;
        padding: 2rem 1.8rem;

        &>div {
            padding: .5rem;
        }
    }

    &>p {
        color: var(--color-gray-040);
        padding: 0 1.8rem 2rem;
        font-size: 0.8rem;
        font-style: italic;
    }

    .checkbox span {
        font-size: 1.2rem;
    }
}


#board-wrapper {
    width: min(98vw, calc((90dvh - 210px) / 1.1), 800px);
    position: relative;
    user-select: none;
    aspect-ratio: 1 / 1.1;
    container-type: inline-size;

    menu {
        position: absolute;
        top: 0;
        right: 0;
    }

    &.loading {
        button {
            visibility: hidden;
        }

        .hex::before {
            background-color: #00000025;
            background-image: unset;
        }

        .token,
        .label,
        .tile::before {
            visibility: hidden;
        }
    }

    &:is(&.hide-stats, &.loading) :is(#overlay, #stats) {
        display: none;
    }

    &:not(.hide-stats) .tile {
        filter: grayscale(1);
    }
}

#board {
    gap: 0;
    width: 100%;
    position: relative;
    font-size: 17.5cqw;

    &::before {
        content: "";
        position: absolute;
        box-shadow: 0 0 50cqw 40cqw rgba(0, 0, 0, 0.3);
    }
}

.row {
    gap: .54em;
    width: 100%;
    margin-top: -.42em;

    &:first-child {
        margin-top: 0;
    }
}

.tile {
    gap: 0;
    width: 1em;
    height: 0.866em;
    filter: drop-shadow(.1cqw .2cqw .2cqw rgba(0, 0, 0, 0.3));
    position: relative;
    transition: transform 0.2s, z-index 0.15s;

    &:has(:hover) {
        z-index: 20;
        transform: scale(1.2);
        filter: drop-shadow(0 0 1cqw rgb(0, 0, 0, .4));
    }

    &[data-prob]:has(:hover)::before {
        content: attr(data-prob);
        top: 11cqw;
        color: #fff;
        z-index: 30;
        padding: 3px 7px;
        position: absolute;
        font-size: 0.8rem;
        text-align: center;
        background: rgba(15, 23, 42, 0.9);
        font-weight: bold;
        border-radius: 4px;
        pointer-events: none;
    }

    .hex {
        inset: 0;
        position: absolute;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0.866em;
            height: 1em;
            transform: translate(-50%, -50%) rotate(30deg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .label {
        z-index: 1;
        color: #000000e0;
        font-size: 2.5cqw;
        font-weight: 600;
        font-style: italic;
        font-family: "Garamond", "Adobe Garamond Pro", "Minion Pro", "Georgia", serif;
    }

    &.lumber .hex::before {
        background-color: #46642d;
        background-image: url("assets/lumber.png");
    }

    &.brick .hex::before {
        background-color: #b87629;
        background-image: url("assets/brick.png");
    }

    &.wool .hex::before {
        background-color: #96c21c;
        background-image: url("assets/wool.png");
    }

    &.grain .hex::before {
        background-color: #e2ba24;
        background-image: url("assets/grain.png");
    }

    &.ore .hex::before {
        background-color: #6e6871;
        background-image: url("assets/ore.png");
    }

    &.desert .hex::before {
        background-color: #c4a75a;
        background-image: url("assets/desert.png");
    }

    &.water .hex::before {
        background-size: 110%;
        background-color: #5da1d4;
        background-image: url("assets/water.webp");
    }

    &.water:is(.brick, .grain, .ore, .lumber, .wool)::before {
        z-index: 1;
        content: '';
        width: 3.5cqw;
        height: 3.5cqw;
        border-radius: 50%;
        pointer-events: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.water.brick::before {
        background-image: url("assets/brick_icon.jpg");
    }

    &.water.grain::before {
        background-image: url("assets/grain_icon.jpg");
    }

    &.water.ore::before {
        background-image: url("assets/ore_icon.jpg");
    }

    &.water.lumber::before {
        background-image: url("assets/lumber_icon.jpg");
    }

    &.water.wool::before {
        background-image: url("assets/wool_icon.jpg");
    }

    .token {
        width: 5.7cqw;
        height: 5.7cqw;
        z-index: 2;
        border-radius: 50%;

        color: #000000e0;
        font-size: 3.4cqw;
        background: #e9d8a9;
        box-shadow: inset 0 0 .2cqw 0 rgba(0, 0, 0, 0.3), .2cqw .2cqw .4cqw .1cqw rgba(0, 0, 0, 0.3);
        font-weight: 600;
        font-family: "Garamond", "Adobe Garamond Pro", "Minion Pro", "Georgia", serif;
        font-variant-numeric: lining-nums;
    }

    &:is(.water, .desert) .token {
        display: none;
    }

    &:is(.t6, .t8) .token {
        color: #dc2626;
    }

    &:is(.t6, .t9) .token {
        gap: 0;

        &::after {
            content: '.';
            margin-left: -.3cqw;
        }
    }

    &:is(.t3, .t11) .token {
        font-size: 2.5cqw;
    }

    &:is(.t2, .t12) .token {
        font-size: 2.1cqw;
        font-weight: unset;
    }
}

#board[data-roll-val] .tile {
    filter: grayscale(1);
}

#board[data-roll-val="2"] .tile.t2,
#board[data-roll-val="3"] .tile.t3,
#board[data-roll-val="4"] .tile.t4,
#board[data-roll-val="5"] .tile.t5,
#board[data-roll-val="6"] .tile.t6,
#board[data-roll-val="7"] .tile.t7,
#board[data-roll-val="8"] .tile.t8,
#board[data-roll-val="9"] .tile.t9,
#board[data-roll-val="10"] .tile.t10,
#board[data-roll-val="11"] .tile.t11,
#board[data-roll-val="12"] .tile.t12 {
    /* filter: grayscale(0) drop-shadow(.3cqw 0 0 #000) drop-shadow(-.3cqw 0 0 #000) drop-shadow(0 .3cqw 0 #000) drop-shadow(0 -.3cqw 0 #000); */
    filter: grayscale(0) drop-shadow(0 0 1cqw rgb(0, 0, 0, .4));
}

#overlay {
    gap: .54em;
    width: 100%;
    z-index: 99;
    position: absolute;
    font-size: 17.5cqw;
    pointer-events: none;

    .row {
        gap: .25em;
    }

    .row:nth-of-type(8n+2) .point:nth-of-type(2),
    .row:nth-of-type(2n):not(:nth-of-type(8n+2)) .point:nth-of-type(2n+1),
    .row:nth-of-type(2n+1) .point:nth-of-type(2n):not(:nth-last-of-type(1)) {
        margin-right: 6.9cqw;
    }

    .point {
        gap: 0;
        width: 5.7cqw;
        height: 5.7cqw;
        border-radius: 50%;

        color: var(--color-gray-000);
        font-size: 2.3cqw;
        font-weight: 900;

        &::after {
            font-size: 50%;
            content: '%';
        }
    }
}

#stats {
    gap: 4cqw;
    bottom: -5.5cqw;
    position: absolute;
    font-size: 2.3cqw;
    font-weight: 900;

    div {
        gap: 0;
        width: 5.7cqw;
        height: 5.7cqw;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        filter: grayscale(.2);
        text-shadow: .2cqw .2cqw 0 #fff, .2cqw -.2cqw 0 #fff, -.2cqw .2cqw 0 #fff, -.2cqw -.2cqw 0 #fff, .2cqw 0 0 #fff, 0 .2cqw 0 #fff, -.2cqw 0 0 #fff, 0 -.2cqw 0 #fff;

        &::after {
            font-size: 50%;
            content: '%';
        }

        &.lumber {
            background-image: url("assets/lumber_icon.jpg");
        }

        &.grain {
            background-image: url("assets/grain_icon.jpg");
        }

        &.ore {
            background-image: url("assets/ore_icon.jpg");
        }

        &.brick {
            background-image: url("assets/brick_icon.jpg");
        }

        &.wool {
            background-image: url("assets/wool_icon.jpg");
        }
    }
}

#dice {
    gap: .5em;
    cursor: pointer;
    padding: .2em .9em .5em;
    font-size: clamp(3rem, 7vh, 5rem);
    position: relative;
    -webkit-tap-highlight-color: transparent;

    button {
        right: 0;
        color: var(--color-gray-030);
        position: absolute;
    }

    div {
        --p: circle .08em;
        --c: #000000c2 99%, transparent;
        --mm: radial-gradient(var(--p) at 50% 50%, var(--c));
        --tl: radial-gradient(var(--p) at 30% 30%, var(--c));
        --tr: radial-gradient(var(--p) at 70% 30%, var(--c));
        --bl: radial-gradient(var(--p) at 30% 70%, var(--c));
        --br: radial-gradient(var(--p) at 70% 70%, var(--c));
        --ml: radial-gradient(var(--p) at 30% 50%, var(--c));
        --mr: radial-gradient(var(--p) at 70% 50%, var(--c));

        width: 1em;
        height: 1em;
        position: relative;
        transition: transform 0.2s ease-out;
        box-shadow: 9px 6px 20px 3px rgba(0, 0, 0, 0.4), inset -5px -5px 20px 0px rgba(0, 0, 0, 0.4);
        border-radius: .3rem;
        background-color: #e2b278;

        &::before {
            content: '';
            inset: .1rem;
            position: absolute;
            box-shadow: inset -1px -1px 4px -2px rgba(0, 0, 0, 0.4);
            border-radius: 50%;
            background-color: #e2b278;
        }
    }

    div:first-child.rolling {
        animation: shakeLeft 0.22s ease-in-out;
    }

    div:last-of-type.rolling {
        animation: shakeRight 0.22s ease-in-out;
    }

    .d1::before {
        background-image: var(--mm);
    }

    .d2::before {
        background-image: var(--tl), var(--br);
    }

    .d3::before {
        background-image: var(--tl), var(--mm), var(--br);
    }

    .d4::before {
        background-image: var(--tl), var(--tr), var(--bl), var(--br);
    }

    .d5::before {
        background-image: var(--tl), var(--tr), var(--mm), var(--bl), var(--br);
    }

    .d6::before {
        background-image: var(--tl), var(--tr), var(--ml), var(--mr), var(--bl), var(--br);
    }
}

@keyframes shakeLeft {
    0% {
        transform: translate(0, 0) scale(1) rotate(0deg);
        filter: blur(0px);
    }

    15% {
        transform: translate(-8px, 5px) scale(0.94) rotate(-6deg);
        filter: blur(2px);
    }

    30% {
        transform: translate(7px, -6px) scale(1.04) rotate(8deg);
        filter: blur(3px);
    }

    50% {
        transform: translate(-6px, -2px) scale(0.96) rotate(-4deg);
        filter: blur(2.5px);
    }

    70% {
        transform: translate(5px, 4px) scale(1.02) rotate(5deg);
        filter: blur(1.5px);
    }

    85% {
        transform: translate(-2px, 2px) rotate(-2deg);
        filter: blur(0.5px);
    }

    100% {
        transform: translate(0, 0) scale(1) rotate(0deg);
        filter: blur(0px);
    }
}

@keyframes shakeRight {
    0% {
        transform: translate(0, 0) scale(1) rotate(0deg);
        filter: blur(0px);
    }

    15% {
        transform: translate(6px, -7px) scale(1.05) rotate(7deg);
        filter: blur(2.5px);
    }

    35% {
        transform: translate(-7px, 4px) scale(0.95) rotate(-8deg);
        filter: blur(3.5px);
    }

    55% {
        transform: translate(5px, 3px) scale(1.03) rotate(4deg);
        filter: blur(2px);
    }

    75% {
        transform: translate(-4px, -4px) scale(0.97) rotate(-5deg);
        filter: blur(1px);
    }

    90% {
        transform: translate(2px, -1px) rotate(2deg);
        filter: blur(0.5px);
    }

    100% {
        transform: translate(0, 0) scale(1) rotate(0deg);
        filter: blur(0px);
    }
}